h1{
    text-transform: uppercase;
}
div{
    background-image: linear-gradient(
        to right bottom,
        rgba(9, 177, 255, 0.7),
        rgba(12, 172, 236, 0.7)),
        
    url(media/sky-4608972_1920.jpg);
    height: 100vh;
}
ul{
    list-style: none;
}
img{
    height: 50vh;
    filter: blur(10px);
}
body{
    text-align: center;
}