h1{
    text-transform: uppercase;
}
div{
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 90, 9, .7),
        rgba(236, 127, 55, .7)),
        
    url(media/sky-4608972_1920.jpg);
    height: 100vh;
}
ul{
    list-style: none;
}
img{
    height: 50vh;
    filter: blur(10px);
}